* {
  box-sizing: border-box;
   margin: 0;
  padding: 0;
}


html{
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  
}
body {
  font-family: "Roboto Flex";
  font-style: normal;
  background-color: #e5e5e5;
}

/* custom style goes here  */
:root {
  --primary-col: #ff6680;
  --secondary-col: #ff8259;
  --gradient: linear-gradient(131.87deg, #ff6680 17.58%, #ff8259 78.52%);
  --black-col: #221f1f;
  --black-75: rgba(34, 31, 31, 0.75);
  --black-50: rgba(34, 31, 31, 0.5);
  --black-25: rgba(34, 31, 31, 0.25);
  --black-10: rgba(34, 31, 31, 0.1);
  --black-5: rgba(34, 31, 31, 0.05);
  --error: #ff4d6a;
}

p {
  font-weight: 400;
  font-size: 21px;
  color: var(--black-75);
}

h1 {
  font-size: 119px;
}

h2 {
  font-size: 84px;
}

h3 {
  font-weight: 300;
  font-size: 60px;
}

h4 {
  font-size: 42px;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 21px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--black-75);
  cursor: pointer;
  margin-left: 24px;
}
a:hover {
  color: var(--primary-col);
}

img {
  max-width: 100%;
}

button {
  background: linear-gradient(131.87deg, #ff6680 17.58%, #ff8259 78.52%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
  padding: 24px 48px;
  font-size: 21px;
  border-radius: 4px;
  border: none;
  outline: none;
}
button > a {
  color: rgba(255, 255, 255, 0.85);
}

button:active {
  opacity: 0.8;
}
button:hover {
  background: #9e777d;
  box-shadow: 0px 9px 9px rgba(0, 0, 0, 0.25);
}

#round {
  border-radius: 100%;
}
/* hamburger  */

.hamburger {
  display: none;
  width: 45px;
  position: relative;
  border-bottom: 4px solid #666;
}
.hamburger::after,
.hamburger::before {
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  position: absolute;
  border-bottom: 4px solid #666;
}
.hamburger::before {
  top: 10px;
}

.hamburger::after {
  top: -10px;
}

/* social icons  */

.fa-twitter:hover {
  color: #1da1f2;
}

.fa-linkedin:hover {
  color: #0e76a8;
}
.fa-github:hover {
  color: #000000;
}

/* customize styles  */

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  flex-wrap: wrap;
  
}

#logo {
  width: 120px;
  height: 120px;
  
}

.left {
  margin-right: 32px;
  margin: 0;
}

.right {
  flex-grow: 1;
  margin: 0 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-list > a {
  padding-bottom: 5px;
  letter-spacing: 1px;
  transition: color, border-bottom 0.2s ease-in-out 0.2s;
}

.menu-list > a:hover {
  border-bottom: 2px solid var(--primary-col);
  color: var(--primary-col);
}

#mail {
  margin-right: 64px;
  color: var(--primary-col);
}

#mail:hover {
  text-decoration: underline;
}

.social-link > a {
  margin-left: 24px;
}

/* container style  */

.container{
  /* style goes here  */
  margin-top: 90px;
  
}


/* Hero section  */

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 32px;
  text-align: center;
  
}

.hero-mainheading{
  /* background: red; */
  padding: 8px;
  
}

.hero-subheading {
  background: linear-gradient(131.87deg, #ff6680 17.58%, #ff8259 78.52%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hero-description {
  color: rgba(34, 31, 31, 0.5);
  line-height: 32px;
  text-align: center;
  width: 95%;
}

.hero-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-btn > .fa {
  margin-left: 8px;
}
.hero-btn:hover > .fa {
  margin-left: 16px;
}


/* work  */

.my-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 120px;
  
}

.mainheading {
  padding: 8px 16px;
}

.description {
  padding: 16px;
}


/* projects  */

.projects {
  margin-top: 48px;
}

.card {
  width: 100%;
  background: #2d1f20;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px;
  height: 600px;
  position: relative;
  margin-bottom: 450px;
}

.card:last-child{
  margin-bottom: 524px;

}

.card > .mainheading,
.card > .description {
  color: #efefef;
}

.img-container{
  position:absolute;
  height: 200px;
  bottom:0;
  width: 90%;
  
}

 img {
  height: 600px;
  width: 100%
}


/* connect  */

.connect-project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 16px;
  margin-top: 120px;
  margin-bottom: 120px;
}

.info > a {
  font-size: 15px;
}

.connect-project > button {
  margin-top: 24px;
}


/* footer  */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 24px;
}
.footer > p {
  font-size: 15px;
}
